<nav>
    <a href="/">cimiLove</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/singUp">Sing Up</a></li>
        <li><a href='/users'>Users</a></li>
        <li><a href='/users/new'>Add User</a></li>
        <li><a href='/oglasi'> Oglasi</a></li>
        <li><a href='/oglasi/new'>Add Oglas</a></li>


    </ul>
</nav>