<div>
    <label>Username</label>
    <input type="text" name="username" value="Neko_ime">
</div>
<div>
    <label>Profilna Slika</label>
    <input type="file" name="cover">
  </div>
<div>
    <label>Description</label>
    <textarea name="description"><%= user.description %></textarea>
</div>